In [ ]:
import pandas as pd
df=pd.read_csv("/content/heart_attack_prediction_dataset_edit1.csv")

In [ ]:
df.shape

(999, 26)

In [ ]:
df.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67.0,m,208,158/88,72,0.0,0.0,1,0,...,6.615001,261404.0,31.251233,286,0,6.0,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21.0,male,389,165/93,98,1.0,1.0,1,1,...,4.963459,285768.0,27.194973,235,1,7.0,Canada,North America,Northern Hemisphere,0
2,BNI9906,21.0,Female,324,174/99,72,1.0,0.0,0,0,...,9.463426,235282.0,28.176571,587,4,4.0,France,Europe,Northern Hemisphere,0
3,JLN3497,84.0,NaN,383,163/100,73,1.0,1.0,1,0,...,7.648981,125640.0,36.464704,378,3,4.0,Canada,North America,Northern Hemisphere,0
4,GFO8847,66.0,Male,318,91/88,93,NaN,1.0,1,1,...,1.514821,160555.0,21.809144,231,1,5.0,Thailand,Asia,Northern Hemisphere,0

In [ ]:
df = df.drop_duplicates(subset=['Patient ID'])

In [ ]:
df.shape

(999, 26)

In [ ]:
import numpy as np

numeric_cols = df.select_dtypes(include=np.number).columns
numeric_cols

Index(['Age', 'Cholesterol', 'Heart Rate', 'Diabetes', 'Family History',
       'Smoking', 'Obesity', 'Alcohol Consumption', 'Exercise Hours Per Week',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day',
       'Heart Attack Risk'],
      dtype='object')

In [ ]:
for col in numeric_cols:
  Q1 = df[col].quantile(0.25)
  Q3 = df[col].quantile(0.75)
  IQR = Q3-Q1
  lower_bound = Q1-1.5 * IQR
  upper_bound = Q3 + 1.5 * IQR
  df=df[(df[col]>=lower_bound) & (df[col] <= upper_bound)]

In [ ]:
df.isnull().sum()

Patient ID                         0
Age                                0
Sex                                1
Cholesterol                        0
Blood Pressure                     0
Heart Rate                         0
Diabetes                           0
Family History                     0
Smoking                            0
Obesity                            0
Alcohol Consumption                0
Exercise Hours Per Week            0
Diet                               0
Previous Heart Problems            0
Medication Use                     0
Stress Level                       0
Sedentary Hours Per Day            0
Income                             0
BMI                                0
Triglycerides                      0
Physical Activity Days Per Week    0
Sleep Hours Per Day                0
Country                            0
Continent                          0
Hemisphere                         0
Heart Attack Risk                  0
dtype: int64

In [ ]:
# create a list of columns to fill NA values
columns_to_fill = ['Age','Sedentary Hours Per Day','Income','Sleep Hours Per Day']
# example columns,replace with
#Fill NA values in specified columns with the mean of each column
for col in columns_to_fill:
  df[col] = df[col].fillna(df[col].mean())

In [ ]:
# create a list of columns to fill NA values
columns_to_fill = ['Diabetes','Family History','Sex'] # example columns,replace with your actual columns

#fill NA values in specified columns with the mean of each column
for col in columns_to_fill:
  #calculate the mode of the column
  mode_value = df[col].mode()[0]
   # replace NaN values with mode
  df[col].fillna(mode_value , inplace=True)

/tmp/ipython-input-488397709.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_value , inplace=True)

In [ ]:
df.isnull().sum()
# or df = df.dropna() can also be used

Patient ID                         0
Age                                0
Sex                                0
Cholesterol                        0
Blood Pressure                     0
Heart Rate                         0
Diabetes                           0
Family History                     0
Smoking                            0
Obesity                            0
Alcohol Consumption                0
Exercise Hours Per Week            0
Diet                               0
Previous Heart Problems            0
Medication Use                     0
Stress Level                       0
Sedentary Hours Per Day            0
Income                             0
BMI                                0
Triglycerides                      0
Physical Activity Days Per Week    0
Sleep Hours Per Day                0
Country                            0
Continent                          0
Hemisphere                         0
Heart Attack Risk                  0
dtype: int64

In [ ]:
category_cols = df.select_dtypes(include = "object").columns
for col in category_cols:
  print(col)
  print(df[col].unique())

Patient ID
['BMW7812' 'CZE1114' 'JLN3497' 'WYV0966' 'XXM0972' 'FPS0415' 'VTW9069'
 'DCY3282' 'DXB2434' 'COP0566' 'RQX1211' 'MBI0008' 'LBY7992' 'RDI3071'
 'NCU1956' 'MSW4208' 'TTO9115' 'JDP9221' 'FFF6730' 'DWN2141' 'NXO4034'
 'ENK3334' 'XRL5497' 'DDG3686' 'FLG2019' 'SCZ5893' 'GNK9443' 'TTM1692'
 'DUX2118' 'SQE3213' 'XBP3543' 'ENZ9640' 'QWD3129' 'UBJ2564' 'RRG8947'
 'BFE4900' 'KCY9500' 'JJX0859' 'IKY4481' 'YOD3294' 'OHD3889' 'BDG2694'
 'LTU0801' 'OFU9592' 'WAR7163' 'TFH5628' 'BBJ3290' 'YTR1728' 'AYY8711'
 'TQT8266' 'KTR4778' 'GVI1884' 'SOM8522' 'BNF7145' 'BOK4939' 'DNY3115'
 'SOH9843' 'ICO9779' 'GDC1817' 'DHP4080' 'JPD8131' 'GMI1141' 'QJA1796'
 'WMP6003' 'ADG8069' 'RHR1854' 'GDY0435' 'CQM6221' 'JDS3385' 'JXV3603'
 'OVT8107' 'UIW1798' 'XZD4751' 'OKX6945' 'RKV2333' 'TLA1423' 'NCU4581'
 'XOA9385' 'SLJ3300' 'CFU1297' 'ATI9164' 'HGB5652' 'SIQ8677' 'OGV4421'
 'LDS5768' 'PLR8209' 'YLL9363' 'ITN4331' 'ERP9347' 'UFC0697' 'JFL6450'
 'JKY9288' 'AAX1328' 'XHX1600' 'SDW5368' 'GAN8948' 'AND5753' 'WMN2843'
 'OMR5899' 'ZLM2405' 'ACQ6112' 'KMA0239' 'HHA8617' 'PZM6937' 'ELD0719'
 'NXR3682' 'UQC2723' 'CFZ8373' 'RNA0445' 'YKA1578' 'EIM7657' 'EUK0592'
 'DXT5853' 'AZR0892' 'YTL7126' 'GNL2507' 'PKU2212' 'NRR1900' 'IFZ1439'
 'UIP9627' 'BNA7793' 'VWX9664' 'CYT4743' 'AGH6728' 'PUS3059' 'RCE5059'
 'KTU2333' 'FON8872' 'LTS6151' 'WER6567' 'YJM3019' 'GMX4668' 'TRR4979'
 'SHL1488' 'LJI9585' 'QGJ6378' 'EIH9699' 'XHY0495' 'IPU0926' 'ZBC0359'
 'FYX5444' 'PID6523' 'JFH5824' 'MGR9885' 'PBX8054' 'KJS3508' 'DNC4502'
 'SNL4419' 'MRG3205' 'PQR7571' 'CVA7420' 'IGP0445' 'JHC9731' 'ZAR0685'
 'TRI7066' 'ZFY8621' 'ICO8112' 'ZLT2622' 'EDI3563' 'PVI2611' 'JKE5424'
 'XGF9824' 'KLT7600' 'GFT1011' 'GBX5187' 'OVC8311' 'YJO3659' 'LTG3105'
 'JTS2700' 'FXR0426' 'ZZQ4895' 'CJV4418' 'ZUN7568' 'IED0019' 'DKF5216'
 'OUM0988' 'KBN1743' 'WSF0425' 'XSS0940' 'PXI9906' 'FPC1521' 'LPN6836'
 'DZP9719' 'WDB5143' 'XTF7566' 'IRJ5181' 'PVC5447' 'GXA9148' 'IAB5092'
 'DKF7925' 'TRV5341' 'KCE3422' 'LLN6231' 'GBB8361' 'MGP8803' 'SDD6614'
 'AOC1459' 'AYM4283' 'MYI3162' 'KZY7247' 'EAB3469' 'PLA0781' 'QZH6722'
 'WPO9038' 'DTV5850' 'HPS8287' 'PSY8110' 'VEC6403' 'DWZ6826' 'RFT4958'
 'RMZ5516' 'CPC7799' 'YBZ4650' 'XZE0584' 'YCH0527' 'IUH2759' 'CJP0345'
 'NNR3835' 'KAE4264' 'XJQ7283' 'HTW2151' 'KKR6535' 'PUN6734' 'UIB5375'
 'NQS1727' 'WXM0274' 'AIW4911' 'RKM6961' 'ZVX8100' 'JDK0538' 'OKR6669'
 'FUD7151' 'IAC2550' 'ZXA5748' 'AMH0692' 'IWI0601' 'IRX7433' 'EJU5290'
 'LEE8234' 'IPH2474' 'OUS8176' 'MSP7682' 'VDU1518' 'QSQ1337' 'NZU5544'
 'VQD2926' 'TJD3106' 'FXR8774' 'LMZ2207' 'HKW6197' 'RCB7108' 'ISA3150'
 'UHW7173' 'VTL9882' 'UTK7966' 'QMA7405' 'TWJ6230' 'YMO9545' 'EDK0937'
 'PMI1491' 'YZE4908' 'GLV2486' 'BRG9907' 'VUW1193' 'IIR4559' 'PLH7490'
 'OMY0486' 'IYH1719' 'RCM4245' 'FXK2707' 'SXP6277' 'VCB3963' 'JJP8674'
 'SIO9750' 'LUQ7573' 'ALW1741' 'VAE5681' 'DSD1356' 'SCA4405' 'MGU4677'
 'VEL6785' 'Jan-49' 'FUM7288' 'BEG2015' 'FPA6845' 'XJI2791' 'NHU7732'
 'MLA0112' 'XGD7682' 'NQJ4259' 'WQL5946' 'UOI8257' 'IHY0559' 'BAL8838'
 'YBI6619' 'MSW1926' 'VHL1612' 'FKI0908' 'XUO9577' 'TEE0405' 'IDQ6872'
 'XBZ9674' 'OIV0569' 'MWZ5398' 'YRQ9870' 'VCY3069' 'QDJ7359' 'ZJI5100'
 'QYD6811' 'OYV6908' 'KTY9107' 'BXW5852' 'WPW0617' 'TYI7747' 'WAY4212'
 'VSV3386' 'YNQ3329' 'TBH2833' 'ROF8089' 'NWW5751' 'CEY4537' 'YZU1958'
 'EGC7479' 'YLM6170' 'EHN8840' 'NXO7861' 'UMW1846' 'KMG9748' 'GBU1842'
 'FVR1432' 'EML6491' 'GOM4176' 'QWU3141' 'WCW0650' 'MFC2532' 'VNW7565'
 'AGS2988' 'ULO8651' 'KEM8350' 'SCF7137' 'RGF8556' 'XGC0081' 'KSR1075'
 'JSV9471' 'EFR0340' 'XCL5519' 'IZV0688' 'NEY6909' 'KEC9602' 'PYL5477'
 'VKY0282' 'AOF0204' 'THX6401' 'VLD1162' 'PQL7102' 'MYN6230' 'YLI3019'
 'UTO3905' 'WLY3711' 'AUW6865' 'DTO8732' 'VCC8420' 'BTO2579' 'FKE2991'
 'YAV3073' 'WYS5546' 'FYQ1629' 'EPM2146' 'RVJ3813' 'XBY2113' 'NBU0726'
 'AVV5863' 'LWB8244' 'DBA0284' 'YGC6271' 'DWI7052' 'MMW1532' 'KQB2627'
 'WMO3684' 'GAZ0067' 'CJA3176' 'HGA9732' 'GPC7174' 'CQG3050' 'FEQ1964'
 'KTW5157' 'PDA0257' 'EML8897' 'UCE0281' 'NWZ9873' 'LHF7235' 'PSU2093'
 'YVI8512' 'YBH3172' 'VHJ9494' 'OBX7266' 'WXS2566' 'CSF6016' 'XYT8290'
 'ZTA1405' 'ZML0212' 'JQO6134' 'TOE8211' 'CVD9526' 'BBF7318' 'JOE7050'
 'KQK7643' 'KTW5072' 'TFX1105' 'WMA0365' 'BNQ1608' 'WFR1570' 'EMG4617'
 'OQD2740' 'RPJ7752' 'AHF8900' 'OSV3898' 'BZA4960' 'PNK2263' 'ZOY4018'
 'OEZ7393' 'AFU8750' 'AIY9747' 'CXO1479' 'LKE3475' 'TFV1722' 'VHY7394'
 'KTF7352' 'QXI7953' 'NBT8626' 'ZOF8895' 'AWU6228' 'ING6106' 'CIV0067'
 'RQS7383' 'FJG4009' 'SHO0718' 'GMP5640' 'DFW2933' 'XFP2219' 'KFX0233'
 'SXI5502' 'MJQ6211' 'VOT6025' 'CCS1000' 'ZLQ4238' 'LNC8927' 'RHS3042'
 'SQT8774' 'SJW7991' 'UAA4438' 'HNV5265' 'CTI5918' 'YAV4903' 'QHG4643'
 'TKF4872' 'WWD4872' 'RXO5968' 'BVT7908' 'JKS1366' 'UBJ0041' 'XCA5270'
 'UAN5979' 'XEX8435' 'NUL9735' 'AYI5140' 'YUB7719' 'CPF2017' 'CSP0611'
 'FOU3159' 'DFO7465' 'RCM0440' 'ODT7397' 'RNY5117' 'LFI3538' 'HIS7161'
 'QTW3230' 'MDG0536' 'WSV1694' 'KZI7520' 'PSQ1992' 'OJO7213' 'WEZ0541'
 'VMR2769' 'WWY4968' 'JDB8390' 'VAP3813' 'HNZ8278' 'QTB5153' 'COA2919'
 'BSW3761' 'DGZ9446' 'TCZ4426' 'SGB1288' 'UCM7464' 'XNU0771' 'WPQ6898'
 'DXC0636' 'KUO2606' 'EVD6228' 'VVK9040' 'THY1143' 'RMK3666' 'ILN9787'
 'CKY2409' 'NZK1632' 'GKH4303' 'GCQ2299' 'LMQ7102' 'OYK0411' 'FLA3252'
 'WJA7613' 'VWP4728' 'JDZ4515' 'IGD7012' 'SCN8584' 'UID9264' 'SZN0765'
 'YWL1064' 'QKY7123' 'JAN1895' 'XHJ5227' 'KWU7339' 'NGC5935' 'LPI2838'
 'YBO1304' 'LWN7454' 'RON2853' 'IEV1815' 'TWT7891' 'HJA7257' 'ITC2849'
 'WQQ7998' 'OHG7601' 'DBZ4283' 'OMJ0107' 'LDK4984' 'LGM7747' 'JGG4870'
 'OQK4022' 'XPP4641' 'AWN0976' 'LLM0012' 'FIU8275' 'DJE1072' 'RRN3955'
 'HHJ0715' 'KAO4326' 'WPS1312' 'IUJ7761' 'LSP0749' 'JTV3515' 'EKT4375'
 'TSB2635' 'JYX7856' 'TZH4787' 'LGV5791' 'ADL8569' 'IMP3480' 'PGP4452'
 'IPT2897' 'HJX9778' 'SIJ3066' 'VEX4142' 'TSQ3962' 'WUK6979' 'EIE1041'
 'HXD8450' 'IEB0300' 'HPB9256' 'TZX6334' 'PLA1850' 'WVC2788' 'LVU7657'
 'BXM5808' 'QPU8123' 'VNG4215' 'GUD0459' 'STS2822' 'KIO3395' 'TRS9400'
 'BCF7060' 'SMU7978' 'YMV1162' 'Mar-99' 'DIK3115' 'PSC2312' 'MCK8670'
 'WIK1930' 'PHV2096' 'KWH2122' 'XBH2038' 'OJS3765' 'KGA9122' 'XVD0468'
 'LQY7856' 'IMR7971' 'VUD8381' 'PAZ6728' 'KPS6571' 'POA9237' 'XWM8098'
 'GXE7179' 'QIO0909' 'KPB8895' 'FXH7727' 'AHQ8143' 'OIO2797' 'SUU3844'
 'WTX7938' 'TBL4889' 'UQW4939' 'GKI0273' 'TDR8812' 'IHV3865' 'HSF7212'
 'KGB8324' 'ZIQ9835' 'RJT0255' 'HGR7752' 'UVA7206' 'NSB8252' 'KYB2159'
 'EMA6421' 'LAE8074' 'ZGK4808' 'PZS2239' 'YCW2355' 'SEQ2633' 'OWB6172'
 'RKH3410' 'JCP3680' 'DMW2828' 'UCQ0787' 'YJB7133' 'JEL9600' 'BOV4938'
 'HUF0100' 'VBS9790' 'WUB3798' 'ROO9407' 'KHI0234' 'KIR2661' 'PJH7322'
 'BVC1945' 'PCM5848' 'HPC9815' 'RDM2844' 'XVA9233' 'AKQ1030' 'DVV9040'
 'OMM0459' 'NZT0027' 'PFB5978' 'ETT6969' 'UWT9583' 'CLI6040' 'FRF4571'
 'RHX0838' 'YBO8807' 'AJM2459' 'UQA6590' 'DMO7822' 'IJK8232' 'RAV8035'
 'PGW7084' 'FBL8845' 'WNZ7017' 'VGS9042' 'WCX3630' 'HLG4433' 'VKQ1964'
 'WDR4041' 'MAG0524' 'SNJ3944' 'AKG4285' 'MGS3553' 'ZFK2082' 'GCP4289'
 'FNB8878' 'DJF4484' 'TJY9147' 'ZME1943' 'GXM8866' 'XVG2891' 'QKL4546'
 'OJJ4066' 'PPR0219' 'MSQ7531' 'ZNN7376' 'ADW2761' 'DVH3926' 'DAC9355'
 'VPF0837' 'JAJ1608' 'YSD8942' 'ETD3132' 'EYQ3522' 'XDG1010' 'ZGP8512'
 'ZKG7665' 'RJK4884' 'JYJ5915' 'AUF4840' 'VHT6633' 'TWB7128' 'NSP1423'
 'ROI3791' 'ARS9853' 'SBG1818' 'HQU6302' 'GTF4591' 'UQM4772' 'MCY0890'
 'RVH0395' 'NPQ5604' 'QKB7906' 'LNC7907' 'BTP8708' 'BJD8941' 'FQL2055'
 'XJE6264' 'BEA6046' 'ZYJ6903' 'LOJ4681' 'NJG6917' 'ZCD3952' 'DYY3878'
 'TNM4079' 'ZFO8767' 'AVV6038' 'VHM3190' 'GBU3786' 'BHO7095' 'RMG9406'
 'BCD0320' 'TQB4468' 'TVM7763' 'VTB4568' 'PZC1387' 'UKH0852' 'IQF3083'
 'NPT2695' 'SLT9355' 'HNU4100' 'IUI5940' 'XND9816' 'ITB8671' 'ASH2958'
 'VPT4568' 'FPO1049' 'UIE1740' 'JRD7939' 'FCJ2472' 'IFJ6520' 'UFM9474'
 'LZS3583' 'CKR7663' 'OAE9568' 'QVB0248' 'FPU3089' 'SAD7677' 'DSJ3137'
 'VNV8845' 'URZ0914' 'IRP2123' 'ZMO3009' 'OWE1516' 'HLR9885' 'TPS5070'
 'LDY6154' 'PKF9602' 'KTZ6778' 'HUN7909' 'SDW2091' 'TVY4687' 'ENI3675'
 'KTT9518' 'JMM6919' 'TGK7464' 'RDK1201' 'ZLU3778' 'SXH9613' 'WJD5481'
 'CPC3969' 'NTF8282' 'BXW4373' 'WAF6703' 'UQW6730' 'LET0171' 'UUG2543'
 'QIJ8190' 'QLF6534' 'XAI2953' 'BKP7949' 'JDK6385' 'VCX3417' 'VDC2340'
 'MJH2509' 'WFH8700' 'KOA2438' 'UKF5251' 'XHM5222' 'MJO3400' 'PCH6848'
 'VEV9872' 'MGV0227' 'CSD9177' 'TIQ7594' 'IUM9263' 'KHU0099' 'OFY9353'
 'KDW3162' 'IUJ5918' 'NNJ2995' 'PFF0260' 'LZH2389' 'ZTU5696' 'MMB9696'
 'XZB0234' 'DDN1839' 'TVV7368' 'DKY0506' 'QOA2107' 'DPX5397' 'BLK0007'
 'REG1382' 'STS6583' 'LKI8085' 'GCY1316' 'QEB7195' 'FQC7649' 'TCW3490'
 'POX7355' 'VYJ1203' 'WZI5306' 'RXL9544' 'BNZ7464' 'ZZF6668' 'JJV1595'
 'QIG6987' 'QYT8145' 'BCT3466' 'YNX9088' 'DXR2561' 'LVK6679' 'FGN4731'
 'LAL4745' 'QTB7473' 'SYM8303' 'BCL1135' 'HOT1543' 'YBI3009' 'GZG5017'
 'PUC9792' 'PXA6257' 'GRZ4220' 'WKC9281' 'JWM1520' 'OSJ3896' 'PFQ9453'
 'UXF9730' 'XMA9731' 'OLL6029' 'JYJ2869' 'YYK2310' 'WNW6236' 'CPU6882'
 'PDJ6214' 'PCS6711' 'NCE3967']
Sex
['m' 'male' 'Male' 'Female']
Blood Pressure
['158/88' '165/93' '163/100' '102/73' '131/68' '101/72' '112/81' '114/88'
 '173/75' '120/74' '160/98' '180/101' '175/60' '173/109' '161/90' '140/95'
 '148/105' '160/76' '113/78' '99/81' '178/72' '111/91' '99/85' '103/107'
 '94/60' '115/92' '124/93' '144/108' '101/90' '115/109' '149/73' '120/63'
 '106/106' '102/76' '114/92' '173/108' '168/91' '159/79' '100/80' '118/76'
 '103/83' '152/90' '151/85' '144/98' '109/95' '92/61' '179/93' '120/69'
 '161/108' '131/76' '107/65' '132/109' '177/99' '130/94' '174/93'
 '110/105' '116/98' '139/107' '104/83' '118/86' '122/77' '109/74' '160/70'
 '92/65' '151/101' '95/78' '115/73' '100/66' '163/110' '122/80' '118/91'
 '110/104' '149/83' '134/100' '116/85' '165/79' '102/69' '160/67' '92/71'
 '164/65' '155/104' '104/98' '159/76' '152/94' '108/78' '168/90' '105/108'
 '146/94' '109/65' '166/89' '163/61' '117/76' '106/60' '159/70' '145/92'
 '170/106' '113/80' '163/102' '149/100' '125/76' '100/67' '110/101'
 '149/69' '137/67' '178/78' '116/73' '110/72' '100/88' '121/72' '126/108'
 '120/101' '118/105' '142/88' '128/105' '143/75' '103/78' '132/76'
 '169/92' '113/79' '99/71' '96/93' '145/82' '173/62' '179/62' '100/69'
 '153/77' '156/74' '162/82' '98/109' '165/89' '150/73' '134/90' '133/60'
 '157/110' '96/106' '173/82' '162/71' '91/83' '145/98' '180/108' '98/67'
 '154/81' '172/64' '118/75' '144/60' '133/63' '154/102' '123/91' '102/82'
 '178/83' '154/63' '158/85' '161/105' '131/70' '169/90' '154/95' '121/65'
 '142/104' '153/89' '125/95' '135/92' '143/83' '96/66' '120/109' '171/69'
 '90/105' '133/77' '177/70' '98/73' '174/61' '176/110' '167/62' '171/75'
 '158/87' '131/109' '124/94' '164/71' '100/81' '164/90' '108/64' '179/63'
 '141/75' '116/93' '115/78' '146/107' '102/105' '134/72' '157/104'
 '126/107' '105/103' '168/110' '115/87' '99/64' '126/109' '99/90'
 '123/107' '165/71' '127/89' '159/98' '165/70' '138/89' '119/91' '102/107'
 '97/93' '120/65' '118/82' '178/86' '92/82' '111/69' '164/92' '137/109'
 '154/92' '91/62' '124/91' '125/72' '106/64' '103/106' '162/62' '105/80'
 '175/70' '98/108' '123/95' '133/102' '157/100' '110/67' '133/91' '128/94'
 '175/62' '155/110' '95/63' '161/94' '179/65' '96/77' '167/64' '142/68'
 '138/66' '180/103' '90/62' '163/84' '158/108' '151/68' '168/97' '156/106'
 '103/75' '103/61' '116/74' '131/96' '141/68' '99/108' '121/96' '110/96'
 '112/66' '133/70' '171/99' '96/100' '142/67' '156/75' '162/67' '90/100'
 '109/107' '168/68' '146/100' '108/75' '112/108' '122/97' '161/77'
 '115/61' '92/105' '100/89' '96/60' '94/109' '93/102' '114/103' '105/90'
 '90/78' '126/74' '177/75' '179/104' '101/75' '172/86' '173/63' '93/62'
 '171/65' '91/68' '175/77' '165/78' '163/63' '124/88' '99/82' '166/86'
 '145/65' '158/76' '163/106' '126/84' '107/83' '137/72' '111/109' '114/80'
 '160/61' '169/60' '111/76' '151/69' '146/84' '162/79' '95/74' '148/87'
 '117/64' '90/103' '114/60' '147/91' '178/106' '99/83' '139/106' '165/103'
 '178/104' '162/66' '162/73' '161/79' '148/82' '155/65' '171/67' '162/101'
 '160/107' '158/92' '167/74' '101/67' '112/109' '165/91' '97/78' '141/104'
 '103/72' '132/103' '146/90' '120/84' '119/72' '101/87' '140/80' '157/101'
 '91/61' '121/73' '131/67' '125/64' '100/104' '140/89' '108/104' '98/96'
 '116/82' '168/69' '177/87' '153/81' '103/96' '95/64' '99/60' '169/67'
 '92/107' '175/67' '123/106' '92/108' '162/75' '163/96' '158/60' '118/72'
 '113/108' '177/103' '104/108' '147/97' '160/69' '175/72' '159/82'
 '179/81' '152/75' '138/82' '101/64' '115/100' '108/103' '140/88'
 '175/104' '111/108' '152/107' '142/63' '158/67' '96/96' '122/89'
 '143/108' '131/91' '140/82' '129/94' '167/108' '117/89' '93/108'
 '131/101' '142/107' '112/75' '128/92' '117/98' '156/103' '104/102'
 '145/96' '94/62' '112/71' '153/83' '136/83' '105/96' '168/105' '142/93'
 '157/62' '141/102' '161/63' '176/77' '162/91' '167/103' '101/84' '116/80'
 '141/85' '121/95' '90/72' '99/94' '143/67' '171/70' '178/105' '139/100'
 '170/89' '177/94' '117/90' '133/83' '135/107' '178/99' '131/108' '156/68'
 '150/65' '130/85' '153/61' '111/70' '129/66' '159/84' '140/63' '105/87'
 '109/99' '172/107' '157/83' '157/80' '150/82' '174/75' '158/66' '173/81'
 '118/79' '92/80' '135/64' '148/85' '113/72' '133/92' '126/100' '100/96'
 '114/62' '108/76' '100/105' '138/105' '157/109' '154/66' '138/101'
 '154/91' '171/94' '157/84' '130/97' '167/93' '166/92' '109/82' '170/91'
 '165/98' '108/67' '159/102' '126/91' '134/103' '116/60' '126/61' '180/93'
 '122/100' '111/94' '94/81' '135/93' '112/89' '110/71' '170/62' '164/80'
 '150/90' '119/102' '135/78' '149/105' '174/60' '176/93' '116/99' '165/69'
 '110/91' '171/90' '162/110' '111/99' '153/88' '136/71' '163/94' '128/97'
 '127/91' '103/69' '135/89' '125/63' '164/108' '92/62' '115/74' '147/94'
 '169/104' '118/80' '94/88' '142/72' '143/88' '115/63' '104/81' '101/98'
 '97/62' '91/79' '143/96' '138/64' '161/65' '135/71' '117/96' '133/95'
 '109/60' '116/102' '129/62' '166/63' '147/90' '146/82' '107/105' '156/90'
 '118/64' '158/98' '101/91' '137/99' '98/90' '167/85' '132/65' '129/87'
 '122/79' '119/71' '95/90' '159/62' '108/79' '120/90' '126/78' '94/73'
 '98/105' '96/85' '173/76' '141/82' '100/68' '118/67' '154/77' '110/60'
 '169/70' '180/98' '161/98' '109/106' '142/75' '167/90' '172/61' '172/78'
 '135/90' '126/69' '128/103' '121/108' '151/95' '91/93' '115/103' '93/66'
 '104/107' '164/84' '93/100' '174/99' '140/97' '156/61' '144/72' '176/91'
 '120/77' '151/108' '105/82' '163/81' '117/63' '91/92' '145/61' '174/90'
 '130/72' '107/70' '165/92' '130/63' '173/110' '129/102' '141/96' '130/65'
 '115/80' '121/110' '145/73' '140/99' '178/64' '177/82' '103/92' '161/99'
 '180/78' '138/96' '180/95' '117/103' '110/76' '175/71' '126/105' '120/88'
 '133/110' '131/82' '165/110' '137/104' '158/107' '100/87' '107/67'
 '102/83' '116/83' '107/101' '169/110' '159/63' '164/60' '134/106'
 '115/85' '170/67' '141/95' '106/109' '94/107' '144/94' '123/60' '153/102'
 '106/70' '144/91' '122/94' '156/69' '172/99' '138/107' '131/102' '97/90'
 '98/71' '104/71' '144/66' '123/105' '170/92' '131/66' '166/100' '128/104'
 '102/79' '104/90' '170/83' '111/104' '132/98' '139/96' '178/62' '98/74'
 '121/84' '95/80' '116/89' '109/66' '150/94' '168/61' '154/62' '97/104'
 '100/107' '99/76' '150/107' '130/64' '132/93' '97/96' '180/80' '164/86'
 '111/83' '107/68' '149/85' '102/93' '105/67' '92/104' '113/102' '105/100'
 '146/103' '143/97' '134/81' '118/96' '103/105' '136/86' '148/88' '166/69'
 '141/89' '139/66' '121/68' '165/73' '93/91' '123/97' '122/86' '166/93'
 '148/89' '108/72' '142/101' '115/60' '162/90' '104/73' '140/71' '173/64'
 '152/101' '176/72' '170/99' '96/82' '100/60' '121/94' '113/63' '159/78'
 '154/96' '95/107' '141/60' '121/88' '151/66' '166/103' '101/77' '162/96'
 '133/82' '96/76' '170/75' '108/110' '151/88' '170/95' '115/81' '172/81'
 '169/86' '141/88' '163/68' '155/82' '137/110' '173/94' '173/88' '118/63'
 '174/87' '133/98' '158/68' '177/109' '165/86' '118/99' '169/69' '127/73'
 '162/81' '147/74' '151/94' '147/65' '162/89' '124/90' '154/67' '160/108'
 '92/96' '134/84' '152/82' '101/61' '177/107' '148/64' '167/78' '102/65'
 '164/104' '122/76' '96/86' '172/90' '172/100' '103/100' '105/99'
 '179/101' '113/91' '170/87' '139/77' '108/77' '174/72' '143/82' '135/83'
 '141/105' '173/98' '107/84' '91/84' '99/105' '168/102' '107/98' '120/87'
 '161/109' '140/65' '141/65' '94/74' '114/110' '118/78' '103/93' '109/76'
 '172/85' '118/69']
Diet
['Average' 'Unhealthy' 'Healty' 'Healthy']
Country
['Argentina' 'Canada' 'Japan' 'Vietnam' 'China' 'Italy' 'Brazil'
 'Thailand' 'Spain' 'France' 'India' 'Nigeria' 'New Zealand'
 'United States' 'South Korea' 'Germany' 'Australia' 'South Africa'
 'Colombia' 'United Kingdom']
Continent
['South America' 'North America' 'Asia' 'Europe' 'Africa' 'Australia']
Hemisphere
['Southern Hemisphere' 'Northern Hemisphere']

In [ ]:
# replace "Female" with female in sex column

dict1={'Female':'female','f':'female','m':'male','Male':'male'}
df['Sex'] = df['Sex'].replace(dict1)

In [ ]:
dict2 = {'Healty':'Healthy'}
df['Diet'] = df['Diet'].replace(dict2)

In [ ]:
# splitting the column
split_cols = df["Blood Pressure"].str.split('/',expand=True)
split_cols.columns = ['Systolic','Diastolic']

In [ ]:
# convert to numeric (optional,for calculations)
df['Systolic']=pd.to_numeric(split_cols['Systolic'])
df['Diastolic']=pd.to_numeric(split_cols['Diastolic'])

In [ ]:
# one-hot encode the gender column data
df = pd.get_dummies(df,columns=['Sex','Diet','Continent','Hemisphere'])

In [ ]:
df.head(1)

,Patient ID,Age,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,...,Diet_Healthy,Diet_Unhealthy,Continent_Africa,Continent_Asia,Continent_Australia,Continent_Europe,Continent_North America,Continent_South America,Hemisphere_Northern Hemisphere,Hemisphere_Southern Hemisphere
0,BMW7812,67.0,208,158/88,72,0.0,0.0,1,0,0,...,False,False,False,False,False,False,False,True,False,True

In [ ]:
# separate the features and target variable
X = df.drop(['Patient ID','Heart Attack Risk','Country','Blood Pressure'],axis=1)
y = df['Heart Attack Risk']

In [ ]:
y.value_counts()

Heart Attack Risk
0    518
1    353
Name: count, dtype: int64

In [ ]:
# split the data into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
X_train,X_test,y_train,y_test.shape

(      Age  Cholesterol  Heart Rate  Diabetes  Family History  Smoking  \
 60   55.0          369          64       1.0             0.0        1
 205  83.0          345         104       1.0             0.0        1
 293  50.0          283         105       1.0             0.0        1
 418  62.0          202          65       1.0             1.0        1
 740  83.0          208          56       0.0             1.0        1
 ..    ...          ...         ...       ...             ...      ...
 954  21.0          143          45       1.0             0.0        1
 228  82.0          297          90       1.0             0.0        1
 714  33.0          126         107       1.0             0.0        1
 637  78.0          256          87       0.0             0.0        1
 780  77.0          378          53       1.0             1.0        1

      Obesity  Alcohol Consumption  Exercise Hours Per Week  \
 60         0                    0                 1.402201
 205        1                    1                10.370436
 293        0                    0                16.517621
 418        1                    0                10.944671
 740        0                    0                12.376995
 ..       ...                  ...                      ...
 954        0                    1                18.828659
 228        0                    0                12.060264
 714        1                    0                12.820279
 637        0                    1                12.114945
 780        0                    1                18.552707

      Previous Heart Problems  ...  Diet_Healthy  Diet_Unhealthy  \
 60                         1  ...         False            True
 205                        1  ...         False           False
 293                        0  ...         False           False
 418                        1  ...          True           False
 740                        1  ...         False           False
 ..                       ...  ...           ...             ...
 954                        0  ...         False           False
 228                        1  ...         False           False
 714                        0  ...          True           False
 637                        0  ...         False           False
 780                        0  ...         False           False

      Continent_Africa  Continent_Asia  Continent_Australia  Continent_Europe  \
 60              False           False                False             False
 205             False           False                 True             False
 293             False           False                 True             False
 418             False           False                False             False
 740             False            True                False             False
 ..                ...             ...                  ...               ...
 954             False            True                False             False
 228              True           False                False             False
 714             False           False                False              True
 637             False           False                False              True
 780             False           False                False              True

      Continent_North America  Continent_South America  \
 60                     False                     True
 205                    False                    False
 293                    False                    False
 418                    False                     True
 740                    False                    False
 ..                       ...                      ...
 954                    False                    False
 228                    False                    False
 714                    False                    False
 637                    False                    False
 780                    False                    False

      Hemisphere_Northern Hemisphere  Hemisphere_Southern Hemisphere
 60                            False                            True
 205                           False                            True
 293                           False                            True
 418                           False                            True
 740                            True                           False
 ..                              ...                             ...
 954                            True                           False
 228                           False                            True
 714                           False                            True
 637                           False                            True
 780                           False                            True

 [696 rows x 33 columns],
       Age  Cholesterol  Heart Rate  Diabetes  Family History  Smoking  \
 429  41.0          129          81       1.0             0.0        1
 876  59.0          155          48       1.0             0.0        1
 733  18.0          241          73       0.0             0.0        1
 341  59.0          294          51       1.0             1.0        1
 440  49.0          384          65       0.0             0.0        1
 ..    ...          ...         ...       ...             ...      ...
 566  85.0          185         110       0.0             0.0        1
 870  87.0          324          50       1.0             1.0        1
 326  60.0          308          73       1.0             1.0        1
 667  24.0          347         102       0.0             1.0        1
 70   63.0          203          55       1.0             0.0        1

      Obesity  Alcohol Consumption  Exercise Hours Per Week  \
 429        0                    1                11.194678
 876        1                    1                14.437585
 733        0                    0                 6.053369
 341        0                    1                 0.018483
 440        1                    1                 4.634456
 ..       ...                  ...                      ...
 566        1                    1                 2.908607
 870        1                    0                 9.466431
 326        1                    1                 8.478751
 667        0                    1                 9.050008
 70         0                    1                17.329144

      Previous Heart Problems  ...  Diet_Healthy  Diet_Unhealthy  \
 429                        1  ...         False           False
 876                        1  ...          True           False
 733                        0  ...         False            True
 341                        1  ...         False           False
 440                        0  ...         False            True
 ..                       ...  ...           ...             ...
 566                        1  ...         False            True
 870                        1  ...         False            True
 326                        0  ...         False           False
 667                        1  ...          True           False
 70                         0  ...         False            True

      Continent_Africa  Continent_Asia  Continent_Australia  Continent_Europe  \
 429             False            True                False             False
 876             False           False                 True             False
 733             False           False                False              True
 341             False            True                False             False
 440             False           False                False              True
 ..                ...             ...                  ...               ...
 566             False           False                False             False
 870             False            True                False             False
 326             False            True                False             False
 667             False           False                False              True
 70              False           False                False             False

      Continent_North America  Continent_South America  \
 429                    False                    False
 876                    False                    False
 733                    False                    False
 341                    False                    False
 440                    False                    False
 ..                       ...                      ...
 566                     True                    False
 870                    False                    False
 326                    False                    False
 667                    False                    False
 70                      True                    False

      Hemisphere_Northern Hemisphere  Hemisphere_Southern Hemisphere
 429                            True                           False
 876                           False                            True
 733                            True                           False
 341                            True                           False
 440                            True                           False
 ..                              ...                             ...
 566                            True                           False
 870                            True                           False
 326                            True                           False
 667                            True                           False
 70                             True                           False

 [175 rows x 33 columns],
 60     0
 205    0
 293    1
 418    0
 740    0
       ..
 954    0
 228    0
 714    1
 637    0
 780    1
 Name: Heart Attack Risk, Length: 696, dtype: int64,
 (175,))

In [ ]:
# logistic regression model to predict the outcome
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

ImportError: cannot import name 'KNeighborsClassifier' from 'sklearn.linear_model' (/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/__init__.py)

In [ ]:
y_pred = logreg.predict(X_test)

In [ ]:
# evaluate the model
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Precision:", precision_score(y_test, y_pred))
print("Recall:", recall_score(y_test, y_pred))
print("F1 score:", f1_score(y_test, y_pred))

Accuracy: 0.6114285714285714
Precision: 0.375
Recall: 0.045454545454545456
F1 score: 0.08108108108108109

In [ ]:
df.to_csv("file1.csv")