In [ ]:
var1=input("Hi please give the input")

Hi please give the input12345

In [ ]:
var1

'12345'

# In the next step we are printing the output

In [ ]:
print("variable value is:",var1)

variable value is: 12345

In [ ]:
# single line comment

# Multi line comment
# Hi this is a block
# comment of python
# notebook

In [ ]:
# Python has an indentation feature
   print(var1)

IndentationError: unexpected indent (ipython-input-3531752317.py, line 2)

In [ ]:
!python --version

Python 3.11.13

In [ ]:
cab = 'ola'
cost = 100.6

In [ ]:
cost1 = int(cost)

In [ ]:
cost1

100

In [ ]:
print(cost1)

100

In [ ]:
Cost = 100
cost = 100.5
print("Cost with capital C:",Cost)
print("Cost with c:",cost)

Cost with capital C: 100
Cost with c: 100.5

In [ ]:
import keyword
keywords_list = keyword.kwlist
print(keywords_list)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
cost2="high"
_cost=100
#1cost=100

In [ ]:
print(cost1)

100

In [ ]:
type(cost1)

int

In [ ]:
x=12
y=11

# x =12.3
# y= 11.2
print(x,y)

12 11

In [ ]:
z=x+y

In [ ]:
print(z)

23

In [ ]:
# x+y=x+2xy+y

SyntaxError: invalid decimal literal (ipython-input-633297241.py, line 1)

In [ ]:
#Basic operations
print("add x and y is:",z)
print("add x and y is:",(x+y))
print("sub x and y is:",(x-y))
print("mul x and y is:",(x*y))
print("div x and y is:",(x/y))
print("mod x and y is:",(x%y))
print("power x and y is:",(x**y))

add x and y is: 23
add x and y is: 23
sub x and y is: 1
mul x and y is: 132
div x and y is: 1.0909090909090908
mod x and y is: 1
power x and y is: 743008370688

In [ ]:
print("square x is:",(x**2))

square x is: 144

In [ ]:
print("cube x is:",(x**3))

cube x is: 1728

In [ ]:
x=1
y=2
w,z=1,2

a=True
b=False

# Basic operations

print('x==y : ',x==y)
print('x!=y : ',x!=y)
print('x>y : ',x>y)
print('x<y : ',x<y)
print('x>=y : ',x>=y)
print('x<=y : ',x<=y)

x==y :  False
x!=y :  True
x>y :  False
x<y :  True
x>=y :  False
x<=y :  True

In [ ]:
print('a and b : ',a and b)
print('a or b : ',a or b)
print('not a : ',not a)

a and b :  False
a or b :  True
not a :  False

In [ ]:
s1 = 'Hi this is a string'

#basic operations

print("initial string:",s1)
print("first 2 chars string:",s1[:4])
print("last 3 chars string:",s1[-3:])

initial string: Hi this is a string
first 2 chars string: Hi t
last 3 chars string: ing

In [ ]:
print("substring 4 to 8 chars string: ",s1[3:7])
print("upper case: ",s1.upper())
print("lower case: ",s1.lower())
print("replace substring: ",s1.replace("is","was"))
print("length: ",len(s1))
print("split string: ",s1.split(" "))
print("contains subsring Hi: ",("Hi" in s1))
print("concat substring user: ",(s1 +"user"))

substring 4 to 8 chars string:  this
upper case:  HI THIS IS A STRING
lower case:  hi this is a string
replace substring:  Hi thwas was a string
length:  19
split string:  ['Hi', 'this', 'is', 'a', 'string']
contains subsring Hi:  True
concat substring user:  Hi this is a stringuser

In [ ]:
print("space string: ",s1)

space string:  Hi this is a string

In [ ]:
print("no space:",s1.no space(1:19))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-1625465328.py, line 1)

In [ ]:
#syntax
# list [] or li =[]
l1 = [100,200,250,300,350]
print("initial list: ",l1)
#length
len1=len(l1)
print("length of initial list: ",len1)

initial list:  [100, 200, 250, 300, 350]
length of initial list:  5

In [ ]:
from pickle import LONG1
#access
print("1st element of list: ",l1[0])
print("from 2nd to 3th element of list: ",l1[1:3])
print("last element of list: ",l1[-1])

#append elements
l1.append(10)
print("append 10 to the list: ",l1)

# concatention elements
l2=l1+[11,12,13]
print("concatenate 2 lists: ",l2)

# removing elements
l1.remove(350)
print("removed 300 from list:",l1)

# sort elements
l1.sort()
print("sort list: ",l1)

1st element of list:  10
from 2nd to 3th element of list:  [100, 200]
last element of list:  10
append 10 to the list:  [10, 100, 200, 250, 350, 10, 10]
concatenate 2 lists:  [10, 100, 200, 250, 350, 10, 10, 11, 12, 13]
removed 300 from list: [10, 100, 200, 250, 10, 10]
sort list:  [10, 10, 10, 100, 200, 250]

In [ ]:
# contains elements
print("whether list contains 10:",(10 in l1))

whether list contains 10: True

In [ ]:
# syntax
# set1 = {} or set1 = {[]} or set(list)
set1={"Patient 1","patient 2","Patient 3","Patient 4"}
print("initial set:",set1)

print("length of initial set:",len(set1))

#unique elements in a list
list1 = ["patient 1","Patient 2","patient 3",
         "patient 2","patient 3",
         "patient 1","patient 2"]
set2=set(list1)
print("unique elements of list:",set2)

initial set: {'Patient 1', 'Patient 4', 'Patient 3', 'patient 2'}
length of initial set: 4
unique elements of list: {'Patient 2', 'patient 3', 'patient 1', 'patient 2'}

In [ ]:
# subtract 2 sets

set3=set1 - set2
print("difference between 2 sets:",set3)

difference between 2 sets: {'Patient 1', 'Patient 4', 'Patient 3'}

In [ ]:
# syntax
# dic1 ={"":"","":""}

dict_age ={"Patient 1":20,"patient 2":25,"Patient 3":28}

# access keys
print("keys are:",dict_age.keys())

# access values
print("values are:",dict_age.values())

# access value based on key
print("age of patient 1 is:",dict_age['Patient 1'])

keys are: dict_keys(['Patient 1', 'patient 2', 'Patient 3'])
values are: dict_values([20, 25, 28])
age of patient 1 is: 20

Tuples:This is used to store ordered set of immutable elements

In [ ]:
# example tuple representing patient information (name,age,gender)
patient1 = ("Patient 1",30,"Male")
patient2 = ("Alice smith",40,"Female")

# access
print("age of patient 1:",patient1[1])

#immutable
#patient1[1]= 50

#unpacking
p1_name,p1_age,p1_gender=patient1

age of patient 1: 30

Conditional statement

In [ ]:
# example of If,Elif and else
# syntax
# if condition:
#  block of code
# elif condition
#  block of code
# else:
#  block of code

In [ ]:
var_age = 20
if var_age > 18:
  print("Greater than 18")

elif var_age == 18:
  print("Equal to 18")

else:
  print("Less than 18")

Greater than 18

In [ ]:
var_age = 20
if var_age == 20:
  print("odd")
else:
  print("even")

odd

In [ ]:
var_age = 20

if var_age % 2 == 0:
    print("even")
else:
    print("odd")

even

Not operator:This operator to used to negate the boolean condition

In [ ]:
var_age = 20
if not var_age == 18:
  print("Age is not equal to 18")
else:
  print("Age is equal to 18")

Age is not equal to 18

In [ ]:
# multiple conditions

var = 15
if var >=10 and var <=20:
  print("the age is within 10 to 20")

the age is within 10 to 20

In [ ]:
# nested conditions

var_age =18
var_weight = 50
if var_age >=18:
  if var_weight <=50:
    print("The age is greater than 18 and weight is less than 50")

  else:
    print("The age is greater than 18 and weight is greater than 50")

The age is greater than 18 and weight is less than 50

Loops

In [ ]:
# syntax
# for i in seq:
  #Block of code

var_patient = ["Patient 1","Patient 2","Patient 3","Patient 4"]

for var in var_patient:
    print("Hi welcome to the hospital:",var)

Hi welcome to the hospital: Patient 1
Hi welcome to the hospital: Patient 2
Hi welcome to the hospital: Patient 3
Hi welcome to the hospital: Patient 4

In [ ]:
var_patient = [1,2,3,4]

for var in var_patient:
  if var % 2 ==0:
    print("Even number:",var)
  else:
    print("odd number:",var)

odd number: 1
Even number: 2
odd number: 3
Even number: 4

In [ ]:
list_BMI = [18.5, 19.5, 18, 20, 25, 26, 17, 28, 29, 25.5, 22, 21]

for bmi in list_BMI:
    if bmi < 18.5:
        category = "Underweight"
    elif bmi < 25:
        category = "Normal"
    elif bmi < 30:
        category = "Overweight"
    else:
        category = "Obese"

    print(bmi, "→", category)

18.5 → Normal
19.5 → Normal
18 → Underweight
20 → Normal
25 → Overweight
26 → Overweight
17 → Underweight
28 → Overweight
29 → Overweight
25.5 → Overweight
22 → Normal
21 → Normal

In [ ]:
# for loop with if condition

var_age = [10,2,15,20,30,40,50]
count= 0
for var in var_age:
  if var < 30:
    count = count + 1
print("Number of patients with age less than 30:",count)

Number of patients with age less than 30: 4

In [ ]:
 # while loop

 num_medicine = 10
 while num_medicine > 0:
  print("Medicine left:",num_medicine)
  num_medicine = num_medicine - 1

Medicine left: 10
Medicine left: 9
Medicine left: 8
Medicine left: 7
Medicine left: 6
Medicine left: 5
Medicine left: 4
Medicine left: 3
Medicine left: 2
Medicine left: 1

In [ ]:
# Break statement example
num = ["Patient 1","Patient 2","Patient 3","Patient 4"]
for var in num:
  if var == "Patient 3":
   print("Found Patient 3")
   break
  else:
    print("Did not find patient 3")

Did not find patient 3
Did not find patient 3
Found Patient 3

In [ ]:
# continue statement example
var_bp = [120,130,110,140,115,150,125,155,160]

for var in var_bp:
  if var < 130:
    continue
  print("High Bp value(mmHg):",var)

High Bp value(mmHg): 130
High Bp value(mmHg): 140
High Bp value(mmHg): 150
High Bp value(mmHg): 155
High Bp value(mmHg): 160

In [ ]:
# Enumerate : This is used to iterate over both index and value

var_bp = [120,130,110,140,115,150,125]
for index,var in enumerate(var_bp):
  print(index,var)

0 120
1 130
2 110
3 140
4 115
5 150
6 125

In [ ]:
var_bp = [120,130,110,140,115,150,125,160,103]

for index,var in enumerate(var_bp):
  if var > 130:
    #print("Index is:",index,"value is",var)
    print(f"Index is:{index} Value is {var}")

Index is:3 Value is 140
Index is:5 Value is 150
Index is:7 Value is 160

zip: This is used to merge multiple lists and iterate in a single iteratable

In [ ]:
var_patient = ["Patient 1","Patient 2","Patient 3","Patient 4"]
var_age = [20,30,40,50]
var_weight = [30.5,30,40.5,50.5]

for num1,num2,num3 in zip(var_patient,var_age,var_weight):
  #print("Patient ID is:",num1,"and age is:",num2, "and weight is: ",num3)

  print(f"Patient ID is:{num1}")

In [ ]:
# list comprehensive example

numbers = [1,2,3,4,5]
squares = [n**2 for n in numbers]
print(squares) #Output: [1,4,9,16,25]

[1, 4, 9, 16, 25]

In [ ]:
# list comprehension if condition

numbers = [1,2,3,4,5,6]
even_squares = [n**2 for n in numbers if n % 2 == 0]
print(even_squares) #Output: [4,16,36]

[4, 16, 36]

In [ ]:
var_meal=int(input("Hi user,Enter the number of meals you have per day"))

Hi user,Enter the number of meals you have per day3

In [ ]:
meals=int(input("Hi user,Enter the number of meals you have per day"))
walk=int(input("Hi user,Enter the number of walks you have per day"))

if meals > 3 and walk > 150:
  lifestyle="good"
elif meals < 3 and walk < 150:
  lifestyle = "poor"
else:
  lifestyle = "average"

print("Your lifestyle is:",lifestyle)

Hi user,Enter the number of meals you have per day4
Hi user,Enter the number of walks you have per day151
Your lifestyle is: good

In [ ]:
meals_list = [4, 2, 3, 5,3,5,6,4,1,0]
walks_list = [160, 100, 200, 140,120,150,144,152,118,125]

for i in range(len(meals_list)):
    meals = meals_list[i]
    walk = walks_list[i]

    if meals > 3 and walk > 150:
        lifestyle = "good"
    elif meals < 3 and walk < 150:
        lifestyle = "poor"
    else:
        lifestyle = "average"

    print(f"Patient {i+1} - Meals: {meals}, Walks: {walk} → Lifestyle: {lifestyle}")

Patient 1 - Meals: 4, Walks: 160 → Lifestyle: good
Patient 2 - Meals: 2, Walks: 100 → Lifestyle: poor
Patient 3 - Meals: 3, Walks: 200 → Lifestyle: average
Patient 4 - Meals: 5, Walks: 140 → Lifestyle: average
Patient 5 - Meals: 3, Walks: 120 → Lifestyle: average
Patient 6 - Meals: 5, Walks: 150 → Lifestyle: average
Patient 7 - Meals: 6, Walks: 144 → Lifestyle: average
Patient 8 - Meals: 4, Walks: 152 → Lifestyle: good
Patient 9 - Meals: 1, Walks: 118 → Lifestyle: poor
Patient 10 - Meals: 0, Walks: 125 → Lifestyle: poor

In [ ]:
sugar_list=[100,120,150,140,180,120,125,144,155,180,100,90]
count normal = 0
count diabetes = 0
count pre diabetes = 0

for sugar in sugar_list:
  if sugar <= 99 mg/dl
    count normal = count normal + 1
  elif sugar <=100 and >= 125 mg/dl
    count diabetes = count diabetes + 1
  else:
    count pre diabetes = count pre diabetes + 1

Normal sugar count: 1
Pre-diabetes sugar count: 5
Diabetes sugar count: 6

In [ ]:
sugar_list=[100,120,150,140,180,120,125,144,155,180,100,90]
total = sum(sugar_list)
average = total / len(sugar_list)

print(f"Average sugar level: {average}")

Average sugar level: 133.66666666666666

In [ ]:
max_sugar = max(sugar_list)
min_sugar = min(sugar_list)

print(f"Maximum sugar level: {max_sugar}")
print(f"Minimum sugar level: {min_sugar}")

Maximum sugar level: 180
Minimum sugar level: 90

Functions: it is block of code which performs a specific activity.it helps to break.

In [ ]:
def fn_sub(x,y):
 z = x-y
 return z

result = fn_sub(10,5)

print("subraction of two numbers is:",result)

subraction of two numbers is: 5

In [ ]:
def fn_multiplication(x,y,z):
    w=x*y*z
    return w

result =fn_multiplication(10,5,2)

print("multiplication of three numbers is:",result)

multiplication of three numbers is: 100

In [ ]:
def greet(name,age,gender):
    print("Hi,Welcome to hospital:",name)
    print("Age:",age)
    print("gender:",gender)

greet("Patient 1",30,"Male")
greet("Patient 2",40,"Female")

Hi,Welcome to hospital: Patient 1
Age: 30
gender: Male
Hi,Welcome to hospital: Patient 2
Age: 40
gender: Female

In [ ]:
#function with if condition

def classify_age_group(age):
  if age < 18:
    return "child"
  else:
    return "adult"

age = 100
var_patient1 = classify_age_group(age)
print(f'patient with age {age} is:{var_patient1}')

var_patient1 = classify_age_group(50)
print(f'patient with age {50} is:{var_patient1}')

patient with age 100 is:adult
patient with age 50 is:adult

In [ ]:
# lambda function example

# syntax
# lambda arguments: expression

square = lambda x:x**2
print(square(8))

64

In [ ]:
# lambda function on 2 variables

add = lambda x,y:x+y
print(add(10,20))

30

In [ ]:
# for loop with a function

def greet(name):
  print(f"hello,{name}")

In [ ]:
def fn_bmicalculation(weight,height):
  bmi=weight/height**2
def classify_bmi_group (bmi):
 if bmi > 25:
  return "overweight"
 elif bmi < 18:
  return "underweight"
 else:
  return "normal"
result1 = fn_bmicalculation(50,158)
result2 = fn_bmicalculation(60,160)
result3 = fn_bmicalculation(70,170)
print("bmi is:",result1)
print("bmi is:",result2)
print("bmi is:",result3)

bmi is: None
bmi is: None
bmi is: None

In [ ]:
def fn_bmicalculation(weight,height):
  bmi = weight/height**2
  return bmi

def classify_bmi_group (bmi):
 if bmi > 25:
  return "overweight"
 elif bmi < 18:
  return "underweight"
 else:
  return "normal"

bmi1 = fn_bmicalculation(50,1.52)
category1 = classify_bmi_group(bmi1)
print(f"BMI: {bmi1:.2f}, Category: {category1}")

bmi2 = fn_bmicalculation(60,1.65)
category2 = classify_bmi_group(bmi2)
print(f"BMI: {bmi2:.2f}, Category: {category2}")

bmi3 = fn_bmicalculation(70,1.75)
category3 = classify_bmi_group(bmi3)
print(f"BMI: {bmi3:.2f}, Category: {category3}")

BMI: 21.64, Category: normal
BMI: 22.04, Category: normal
BMI: 22.86, Category: normal

In [ ]:
# Round Brackets () → used in functions and math operations
def calculate_bmi(weight, height):
    bmi = weight / (height ** 2)  # Math expression uses ()
    return bmi

# Square Brackets [] → used to store and access list items
weights = [50, 60, 70,90,50,45,55,65,52]  # list of weights
heights = [1.52, 1.65, 1.75,1.65,1.75,1.45,1.25,1.80,1.50]  # list of heights

# Loop to go through each patient and calculate BMI
for i in range(len(weights)):
    bmi = calculate_bmi(weights[i], heights[i])  # Accessing items with []

    # Angle Brackets < > → used in if conditions
    if bmi < 18:
        category = "Underweight"
    elif bmi > 25:
        category = "Overweight"
    else:
        category = "Normal"

    # Output
    print(f"Patient {i+1}: BMI = {bmi:.2f} → {category}")

Patient 1: BMI = 21.64 → Normal
Patient 2: BMI = 22.04 → Normal
Patient 3: BMI = 22.86 → Normal
Patient 4: BMI = 33.06 → Overweight
Patient 5: BMI = 16.33 → Underweight
Patient 6: BMI = 21.40 → Normal
Patient 7: BMI = 35.20 → Overweight
Patient 8: BMI = 20.06 → Normal
Patient 9: BMI = 23.11 → Normal

In [ ]:
# NumPy(numerical python) -for mathematical operation
import numpy as np
list1 = [1,2,3,4]

np_var=np.array(list1)

In [ ]:
np_arr = np.array([1,2,3])
print("the numpy array is:",np_arr)

the numpy array is: [1 2 3]

In [ ]:
# length
print("the length numpy array is:",len(np_arr))

the length numpy array is: 3

In [ ]:
print(list1[0])

1

In [ ]:
#access
print("the second element of numpy array is:",(np_arr))

NameError: name 'np_arr' is not defined

In [ ]:
# add a number to array
print("The resultant of 5 added to the numpy array is:",np_arr+5)

The resultant of 5 added to the numpy array is: [6 7 8]

In [ ]:
# add all elememts
print("the addition of all elements in numpy array is:",np.sum(np_arr))

the addition of all elements in numpy array is: 6

In [ ]:
#min of elements
print("minimum in numpy array:",np.min(np_arr))
print("maximun in numpy array:",np.max(np_arr))

minimum in numpy array: 1
maximun in numpy array: 3

In [ ]:
print("mean in numpy array:",np.mean(np_arr))
print("stndard deviation in numpy array:",np.std(np_arr))

mean in numpy array: 2.0
stndard deviation in numpy array: 0.816496580927726

In [ ]:
print("standard deviation:",round,(stndard deviation in numpy array,2))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-2803419622.py, line 1)

In [ ]:
print("shape of numpy array:",np_arr.shape)

shape of numpy array: (3,)

In [ ]:
#filter
np_var1 = np_var[np_var>2]
print("array elements greater then 2are:",np_var1)

np_var1 = np_var[(np_var>2)&(np_var<4)]
print("array elements greater then 2 and less than 4 are:",np_var1)

array elements greater then 2are: [3 4]
array elements greater then 2 and less than 4 are: [3]

In [ ]:
# sort
np_asc = np.sort(np_var)
np_desc = np.sort(np_var)[::-1]
print("array in ascending order:",np_asc)
print("array in descending order:",np_desc)

array in ascending order: [1 2 3 4]
array in descending order: [4 3 2 1]

In [ ]:
height= np.array([1.50,1.52,1.56,1.60,1.55,1.49,1.78,1.68,1.64])
weight= np.array([50,49,55,58,60,54,45,46,71])

weight/height**2

array([22.22222222, 21.20844875, 22.60026298, 22.65625   , 24.97398543,
       24.32322868, 14.20275218, 16.29818594, 26.39797739])

In [ ]:
import numpy as np
# create multi dimensional array

np_arr_2D=np.array([[1,2,3],[4,5,6]])

In [ ]:
# initial
print("initial array is:",np_arr_2D)

initial array is: [[1 2 3]
 [4 5 6]]

In [ ]:
# shape
print("shape of array is:",np_arr_2D.shape)

shape of array is: (2, 3)

In [ ]:
print("shape of array is:",np_arr_2D.shape[0])

shape of array is: 2

In [ ]:
print("shape of array is:",np_arr_2D.shape[1])

shape of array is: 3

In [ ]:
print("shape of array is:",np_arr_2D[0,:])

shape of array is: [1 2 3]

In [ ]:
print("shape of array is:",np_arr_2D[:,0])

shape of array is: [1 4]

In [ ]:
print("shape of array is:",np_arr_2D[0,0])

shape of array is: 1

In [ ]:
print("shape of array is:",np_arr_2D[1,2])

shape of array is: 6

In [ ]:
print("shape of array is:",np_arr_2D[1,:])

shape of array is: [4 5 6]

In [ ]:
np_arr_2D=np.array([[2,1,5],[3,8,9]])

In [ ]:
print("shape of array is:",np_arr_2D[1,:])

shape of array is: [3 8 9]

In [ ]:
print("shape of array is:",np_arr_2D[:,2])

shape of array is: [5 9]

In [ ]:
print("shape of array is:",np_arr_2D[0,2])

shape of array is: 5

In [ ]:
nums = [1,2,3,4,5]
for num in nums:
    if num == 3:
        break
else:
    print("loop completed")

In [ ]:
nums

[1, 2, 3, 4, 5]

In [ ]:
num

3